<div class="boostBusinessBkg">
  <app-shared-card
    [imgIconSource]="'../../../assets/mainIcon.png'"
    [cardHeader]="'Quick cash reimbursement'"
    [cardDesc]="'Get term loans that your business needs within 72 hrs'"
  ></app-shared-card>
  <app-shared-card
    [imgIconSource]="'../../../assets/Lowinterestrate.png'"
    [cardHeader]="'Low-interest rate'"
    [cardDesc]="
      'Achieve your financial goals with an amazing interest rate starting at 13% per annum'
    "
  ></app-shared-card>
  <app-shared-card
    [imgIconSource]="'../../../assets/SecurePayments.png'"
    [cardHeader]="'Zero Paperwork'"
    [cardDesc]="
      'Get started instantly by submitting only your basic details and bank statements'
    "
  ></app-shared-card>
</div>
