<div style="margin-top: 122px" class="backtoBusinessTop">
  <div class="margintop50px">
    <img src="../../../assets/Line.svg" alt="Line" />
  </div>
  <h1 class="margintop15px">Avail Open's Back-to-Business loans</h1>
  <div style="opacity: 0.7; color: black">
    Go from surviving to thriving during lockdown.
  </div>
  <img
    style="margin-left: 80%"
    src="../../../../assets/accounting_dots.svg"
    alt="accDots"
  />
  <div style="display: flex; flex-direction: row; margin-left: 532px">
    <img
      style="margin-left: -34%"
      src="../../../../assets/handshake.png"
      alt="handshake"
    />
    <div class="marginLeft90px" style="display: flex; flex-direction: column">
      <div class="margintop15px" style="opacity: 0.7">
        <img
          src="../../../../assets/MultiplePaymentMethods.png"
          alt="MultiplePaymentMethods"
        />Zero EMI for the first 3 months
      </div>
      <div class="margintop15px" style="opacity: 0.7">
        <img src="../../../../assets/mainIcon.png" alt="mainIcon" />Quick loans
        upto 1 lakh
      </div>
      <div class="margintop15px" style="opacity: 0.7">
        <img
          src="../../../../assets/SwiftPayouts.png"
          alt="SwiftPayouts"
        />Partial or Full balance payment options
      </div>
      <div class="margintop15px" style="opacity: 0.7">
        <img
          src="../../../../assets/SwiftPayouts.png"
          alt="SwiftPayouts"
        />Receive funds within 72 hrs
      </div>
    </div>
  </div>
</div>
<img
  style="margin-left: 30%"
  src="../../../../assets/accounting_dots.svg"
  alt="accDots"
/>
