<div class="row">
  <div class="col-md-7 col-lg-7 col-sm-7">
    <img src="../../../assets/Group2.png" alt="logoImg" />
  </div>
  <div class="col-md-5 col-lg-5 col-sm-5">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12 textMargin">
        <span
          >Smart loans to supercharge your business&nbsp;<span
            class="textColorBase"
            >#LikeAPro</span
          ></span
        >
      </div>
    </div>
    <div class="row margintop15px">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <img src="../../../assets/Line.svg" alt="Line" />
      </div>
    </div>
    <div class="row margintop15px">
      <div class="col-lg-12">
        <span
          >Apply a collateral free term loan in minutes & scale your business
          like never before</span
        >
      </div>
    </div>
    <div class="row margintop15px">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <button class="btnCls actionBtn">Apply Now</button>
      </div>
    </div>
  </div>
</div>
<div class="row marginLeft90px">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <img src="../../../assets/hp_techcrunch_logo.svg" alt="sponsor1" />
    <img src="../../../assets/hp_cnbc_logo.svg" alt="sponsor2" />
    <img src="../../../assets/hp_yourstore_logo.svg" alt="sponsor3" />
    <img src="../../../assets/hp_tet_logo.png" alt="sponsor4" />
    <img src="../../../assets/hp_pymnts_logo.svg" alt="sponsor5" />
    <img src="../../../assets/hp_medici_logo.svg" alt="sponsor6" />
  </div>
</div>
<div class="row margintop50px">
  <div class="col-lg-12 col-sm-12 col-md-12">
    <img src="../../../assets/text_carousel_dots_1.svg" alt="sponsor1" />
  </div>
</div>
<div class="row marginLeft90px margintop15px">
  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-7 col-sm-7 col-md-7">
        <h1>We make it Super Simple</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img src="../../../assets/Line.svg" alt="Line" />
      </div>
    </div>
    <div class="row margintop15px">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <span>Just four steps and you are loan ready</span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <img src="../../../assets/GroupOfCards.svg" alt="Line" />
      </div>
    </div>
  </div>
  <div class="col-lg-7 col-sm-7 col-md-7">
    <eligibility-calculator></eligibility-calculator>
  </div>
</div>
<div style="margin-top: 110px" class="row">
  <div class="col-lg-4 col-sm-4 col-md-4">
    <app-boost-your-business-section></app-boost-your-business-section>
  </div>
  <div style="margin-top: 110px" class="col-lg-4 col-sm-4 col-md-4">
    <app-shared-card
      [imgIconSource]="'../../../assets/freelancer_feature_icon_6@1.5x.png'"
      [cardHeader]="'Ace your business finances'"
      [cardDesc]="
        'Manage banking, accounting & everything in between, on one platform.'
      "
    ></app-shared-card>
    <app-shared-card
      [imgIconSource]="'../../../assets/Covid.png'"
      [cardHeader]="'Loans to fight COVID-19'"
      [cardDesc]="
        'Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh'
      "
    ></app-shared-card>
  </div>
  <div style="margin-top: 250px" class="col-lg-4 col-sm-4 col-md-4">
    <h1>Boost your business with Open</h1>
    <img src="../../../assets/Line.svg" alt="Line" />
    <div style="opacity: .7;">Get your hands on a term loan that's crafted for your business</div>
    <button class="btn">Get an Open Account</button>
  </div>
</div>

<div style="margin-top: 110px; margin-bottom: 90px;" class="row">
  <div class="col-lg-3 col-sm-3 col-md-3">
    <img src="../../../assets/accounting_dots.svg" alt="sponsor1" />
  </div>
  <div class="col-lg-6 col-sm-6 col-md-6">
    <div class="marginLeft90px" style="display:flex; flex-direction: column;justify-content: center;align-items: center;">
      <span style="opacity: .4;"><h1>Ready to boost your business</h1></span>
      <span  style="opacity: .4;"><h1>#LikeAPro?</h1></span>
      <div class="row margintop15px">
        <div class="col-lg-12 col-sm-12 col-md-12">
          <button class="btnCls actionBtn">Apply Now</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-sm-3 col-md-3">
    <img src="../../../assets/accounting_dots.svg" alt="sponsor1" />
  </div>
</div>